.main {
   grid-column: 2 / 3;
   display: grid;
   grid-template: minmax(auto, 100px) 1fr / 1fr minmax(auto, 94px);
   @media (max-width: 991px) {
      grid-template: minmax(auto, 70px) minmax(auto, 60px) 1fr / 1fr minmax(auto, 94px);
   }
   @media (max-width: 565px) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      grid-template: minmax(auto, 50px) minmax(auto, 50px) 1fr / 1fr;
   }
}
.header {
   grid-column: 2 / 3;
   display: grid;
   grid-template: 1fr / 1fr minmax(auto, 122px);
   padding: 0px 30px 0px 0px;
   position: relative;
   @media (max-width: 767px) {
      grid-column: 1 / 3;
      padding: 0px 20px 0px 0px;
   }
}
.icons {
   grid-column: 2 / 3;
   display: flex;
   align-items: center;
   position: absolute;
   top: 0;
   right: 0;
   padding: 34px 0px;
   @media (max-width: 991px) {
      padding: 19px 0px;
   }
   @media (max-width: 565px) {
      padding: 10px 0px;
   }
   img {
      vertical-align: middle;
   }
}
.search {
   margin: 0px 25px 0px 0px;
   position: relative;
   cursor: pointer;
}
.search__icon {
   position: relative;
   z-index: 1;
   transition: 0.4s ease;
   
   &:hover {
      transform: scale(1.2);
   }
}
.search__input {
   height: 40px;
   width: 0px;
   padding: 0px 15px;
   background-color: transparent;
   box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   font-family: 'Sofia Pro', sans-serif;
   font-size: 15px;
   line-height: 40px;
   position: absolute;
   top: -5%;
   right: -10px;
   z-index: 0;
   transition: 0.4s ease;
   opacity: 0;
   visibility: hidden;
   &.active {
      opacity: 1;
      visibility: visible;
      width: 300px;
      @media (max-width: 400px) {
         width: 200px;
      }
   }
}
.icons__basket {
   margin: 0px 25px 0px 0px;
   cursor: pointer;
}
.basket__icon {
   transition: 0.4s ease;
   &:hover {
      transform: scale(1.2);
   }
}
.person {
   transition: 0.4s ease;
   &:hover {
      transform: scale(1.2);
   }
}
.content {
   grid-row: 1 / 3;
   @media (max-width: 991px) {
      grid-row: 2 / 4;
   }
   @media (max-width: 767px) {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
   }
}
.right-sidebar {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   @media (max-width: 1400px) {
      flex-direction: row;
      justify-content: center;
   }
   @media (max-width: 991px) {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      flex-direction: column;
      justify-content: space-between;
   }
   @media (max-width: 767px) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      flex-direction: row;
      align-items: center;
      padding: 0px 20px;
   }
   @media (max-width: 700px) {
      flex-wrap: wrap;
   }
}
.right-sidebar__social {
   margin: 0px 0px 25px 0px;
   @media (max-width: 767px) {
      margin: 0px 0px 0px 0px;
      display: flex;
      align-items: center;
   }
   @media (max-width: 700px) {
      flex: 1 1 100%;
      justify-content: flex-end;
   }
}
.right-sidebar__social-item {
   @media (max-width: 767px) {
      margin: 0px 20px 0px 0px;
      &:last-of-type {
         margin: 0px 0px 0px 0px;
      }
   }
   a {
      display: block;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      margin: 0px auto 22px;
      color:rgba(0, 0, 0, 1);
      font-size: 15px;
      line-height: 1;
      transition: 0.4s ease;
      &:hover {
         color:rgba(0, 0, 0, 0.4);
      }
      @media (max-width: 767px) {
         writing-mode: inherit;
         transform: rotate(0deg);
         margin: 0px 0px 0px 0px;
         vertical-align: middle;
      }
   }
}
.links {
   @media (max-width: 1400px) {
      margin: 0px 10px 0px 0px;
   }
   @media (max-width: 991px) {
      margin: 0px 0px 0px 0px;
   }
   @media (max-width: 767px) {
      display: flex;
      align-items: center;
      margin: 0px 20px 0px 0px;
   }
   @media (max-width: 700px) {
      flex: 1 1 100%;
      justify-content: flex-end;
      align-items: center;
      margin: 0px 0px 0px 0px;
      vertical-align: middle;
   }
}
.links__item {
   @media (max-width: 767px) {
      margin: 0px 12px 0px 0px;
      &:last-of-type {
         margin: 0px 0px 0px 0px;
      }
   }
   a {
      display: block;
      writing-mode: tb-rl;
      transform:rotate(180deg);
      margin: 22px auto 0px;
      color:rgba(0, 0, 0, 1);
      font-size: 15px;
      line-height: 1;
      transition: 0.4s ease;
      @media (max-width: 767px) {
         writing-mode: inherit;
         transform: rotate(0deg);
         margin: 0px 0px 0px 0px;
      }
      &:hover {
         color:rgba(0, 0, 0, 0.4);
      }
   }
}
.content {
  background: url(../img/main/bg.png) no-repeat;
  background-position: left top;
  background-size: contain;
}
.slider {
   overflow: hidden;
   width: 100%;
   height: 100%;
   @media (max-width: 565px) {
      overflow: visible;
   }
}
.slider-track {
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.4s ease-in-out;
}
.slider-item {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transition: 0.5s ease;
   opacity: 0;
   @media (max-width: 565px) {
      display: flex;
      flex-direction: column;
      min-height: 100%;
   }
   &.active {
      opacity: 1;
   }
}
.slider-item__image {
   position: absolute;
   @media (max-width: 991px) {
      position: static;
      padding: 5% 15px 0px;
      flex: 0 0 383px;
   }
   @media (max-width: 450px) {
      flex: 1 1 auto;
   }
   & .slider-image {
     display: block;
     width: 100%;
     height: auto;
   }
   &--1 {
      bottom: 0;
      right: 0;
      @media (max-width: 565px) {
         top: 0;
         left: 0;
         
      }
   }
   &--2 {
      bottom: 30px;
      right: 0;
      @media (max-width: 565px) {
         top: 0;
         left: 0;
      }
   }
   &--3 {
      bottom: 40px;
      right: 40px;
   }
   &--4 {
      bottom: 0;
      left: 0;
   }
}
.slider-body {
   position: absolute;
   z-index: 2;
   &--1 {
      top: 10%;
      left: 45px;
   }
   &--2 {
      top: 90px;
      left: 45px;
   }
   &--3 {
      top: 90px;
      left: 45px;
      .slider-body__text {
         @media (max-width: 1300px) {
            max-width: 450px;
         }
      }
   }
   &--4 {
      top: 90px;
      right: 20px;
   }
   @media (max-width: 991px) {
      position: static;
      padding: 7% 15px 0px;
      text-align: center;
   }
}
.slides-number {
   height: 20px;
   position: absolute;
   bottom: 40px;
   left: 65%;
   display: flex;
   align-items: center;
   font-size: 13px;
   font-family: 'Helvetica', sans-serif;
   font-weight: 700;
   color: #000;
   @media (max-width: 991px) {
      top: 5%;
      left: 20%;
   }
}
.current-slide {
   margin: 0px 15px 0px 0px;
}
.slider-body__title {
   font-size: 62px;
   line-height: 90px;
   font-weight: 300;
   color: #000;
   letter-spacing: -2px;
   white-space: nowrap;
   @media (max-width: 1199px) {
      font-size: 48px;
      line-height: 70px;
   }
   @media (max-width: 991px) {
      font-size: 40px;
      line-height: 1.4;
   }
   @media (max-width: 767px) {
      font-size: 36px;
   }
}
.slider-body__text {
   max-width: 523px;
   margin: 0px 0px 49px 0px;
   @media (max-width: 1400px) {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 5px;
   }
   @media (max-width: 1199px) {
      font-size: 18px;
   }
   @media (max-width: 991px) {
      margin: 0px 0px 20px 0px;
   }
   @media (max-width: 767px) {
      font-size: 15px;
   }
}
.btn {
   padding: 27px 30px;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   line-height: 20px;
   vertical-align: middle;
   transition: 0.4s ease;
   span {
      margin: 0px 12px 0px 0px;
   }
   @media (max-width: 991px) {
      padding: 15px;
   }
}
.slider-cart__btn {
   margin: 0px 24px 0px 0px;
   background-color: #030304;
   color: #fff;
   border: 1px solid #000;
   &:hover {
      background-color: #ccc;
   }
   @media (max-width: 767px) {
      margin: 0px 12px 12px 0px;
   }
   @media (max-width: 565px) {
      width: 100%;
      margin: 0px 0px 12px 0px;
   }
}
.slider-watch__btn {
   color: #030304;
   border: 1px solid #030304;
   &:hover {
      background-color: #ccc;
   }
   @media (max-width: 767px) {
      margin: 0px 0px 12px 0px;
   }
   @media (max-width: 565px) {
      width: 100%;
   }
}