@import "_nullstyle";
@import "_fonts";
@import "_sidebar";
@import "_main";
@import "_popup";


body {
   font-family: 'Sofia Pro', sans-serif;
   font-size: 21px;
   line-height: 1.51;
   color: rgba(0, 0, 0, 0.4);
   &.lock {
      overflow-y: hidden;
   }
   @media (max-width: 767px) {
      font-size: 18px;
   }
}
.wrapper {
   width: 100%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: minmax(auto, 277px) 1fr;
   grid-template-rows: 1fr;
   @media (max-width: 991px) {
      grid-template-columns: minmax(auto, 230px) 1fr;
   }
   @media (max-width: 565px) {
      grid-template: auto 1fr / 1fr;
   }
   &.blur {
      filter: blur(5px);
   }
}

